/* PPNeueMontreal Book */
@font-face {
    font-family: "PPNeueMontreal";
    src: url('fonts\NeueMontreal\woff2\PPNeueMontreal-Book.woff2') format('woff2'),
        url('fonts\NeueMontreal\ttf\PPNeueMontreal-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* PPNeueMontreal Medium */
@font-face {
    font-family: "PPNeueMontreal";
    src: url('fonts\NeueMontreal\woff2\PPNeueMontreal-Medium.woff2') format('woff2'),
        url('fonts\NeueMontreal\ttf\PPNeueMontreal-Medium.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* PPNeueMontreal Thin */
@font-face {
    font-family: "PPNeueMontreal";
    src: url('fonts\NeueMontreal\woff2\PPNeueMontreal-Thin.woff2') format('woff2'),
        url('fonts\NeueMontreal\ttf\PPNeueMontreal-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* PPNeueMontreal Bold */
@font-face {
    font-family: "PPNeueMontreal";
    src: url('fonts\NeueMontreal\woff2\PPNeueMontreal-Bold.woff2') format('woff2'),
        url('fonts\NeueMontreal\ttf\PPNeueMontreal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* PPNeueMontreal Italic */
@font-face {
    font-family: "PPNeueMontreal";
    src: url('fonts\NeueMontreal\woff2\PPNeueMontreal-Italic.woff2') format('woff2'),
        url('fonts\NeueMontreal\ttf\PPNeueMontreal-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* PPNeueMontreal SemiBolditalic */
@font-face {
    font-family: "PPNeueMontreal";
    src: url('fonts\NeueMontreal\woff2\PPNeueMontreal-SemiBolditalic.woff2') format('woff2'),
        url('fonts\NeueMontreal\ttf\PPNeueMontreal-SemiBolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
    font-family: "PPNeueMontreal", sans-serif;
}

h1 {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
    font-family: "PPNeueMontreal", sans-serif;
    font-weight: bold;
}